<div class="grid-cell row box" href="#application-add-modal" data-toggle="modal">
    <div class="app-card new-or-update-app panel panel-primary">
        <div class="panel-body">
            <div class="block">
                <div class="centered">
                    <h3 class="clear-margins">Add / Update an Application</h3>
                    <i class="fa fa-plus-circle fa-3x"></i>
                </div>
            </div>
        </div>
    </div>
</div>
