<h3>Features</h3>

<div class="filter-container inactive pull-right">
    <div class="bt-icon bt-icon-binoculars"></div>
    <input type="text" id="filter-features" placeholder="Filter Features" />
</div>

<table id="features-table" class="display compact">
    <!--<caption>Features</caption>-->
    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Repository</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>