<div class="page-layout full-height well">


    <div class="header">
        <ul class="breadcrumb">
            <li class="nav-to-applications"><a href="#">Applications</a></li>
            <li class="active">{{displayName}}</li>
        </ul>
    </div>

    <div class="panel">
        <div class="panel-body">
            <div class="content">
                <!-- placeholder area for subviews -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                    <li class="" id="featureTab"><a href="#features" data-toggle="tab">Features</a></li>
                    <li class=""><a href="#configuration" data-toggle="tab">Configuration</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="details">
                        <p>Details Container.  Put me in a View please.</p>
                    </div>
                    <div class="tab-pane fade" id="features">
                        <p>Feature Container.  Put me in a View please.</p>
                    </div>
                    <div class="tab-pane fade" id="configuration">
                        <p>Configuration Container.  Put me in a View please.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>